:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

.pokemon{
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,.25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.pokemon-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}
.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}
.pokemon-imagen img{
    width: 100% ;
    max-width: 6rem;
}
.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.nombre-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*!Ojota*/
    column-gap: .5rem;
}
.pokemon-id{
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}
.pokemon-nombre{
    font-size: 1.4rem;
}
.pokemon-tipos{
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
}
.tipo{
    padding: .25rem .5rem;
    border-radius: 100vmax;
}
.pokemon-stats{
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}
.stat{
    background-color: var(--clr-gray);
    padding:.25rem .5rem;
    border-radius: 100vmax;
}